<cloud-title>Gdy głód i kreatywność idą w parze</cloud-title>

<img src="assets/TacoPhoto.jpg" style="float:right;margin: 20px; border-radius: 20px;" />

<p>Uwielbiamy tacos. Wszystkie rodzaje tacos. Doceniamy także kreatywność podczas przygotowywania tacos.</p>

<p>Do wyboru masz ma starannie przygotowane menu tacos. W Taco Cloud chcemy podzielić się kreatywnością i pozwalamy na samodzielne przygotowanie taco na podstawie gamy świeżych składników. Wprawdzie oferujemy gotowe tacos do wypróbowania, ale największą radość sprawia samodzielne przygotowanie własnego taco.</p>

<p>Pomimo zamiłowania do tacos i kreatywności, wolimy unikać skomplikowanych operacji matematycznych. Dlatego każde taco kosztuje tylko 4,99 zł niezależnie od liczby wybranych składników..</p>

<p>Kliknij <a href="design">tutaj</a> i rozpocznij tworzenie własnego taco!</p>
