<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
  <head>
    <title>Aplikacja Taco Cloud</title>
  </head>
  
  <body>
    <section layout:fragment="main" class="content">
      <h1>Logowanie</h1>
      
      <div th:if="${error}"> 
        Logowanie nieudane. Sprawdź poprawność nazwy użytkownika i hasła.
      </div>
      
      <p>Jesteś nowy? Kliknij
         <a th:href="@{/register}">tutaj</a>, aby się zarejestrować.</p>
      
      <form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">Nazwa użytkownika:  </label>
        <input type="text" name="username"/><br/>
        
        <label for="password">Hasło:  </label>
        <input type="password" name="password"/><br/>
        
        <input type="submit" value="Zaloguj się"/>
      </form>
    </section>
  </body>
</html>