<cloud-title>Zaloguj się w Taco Cloud</cloud-title>

<p style="font-weight: bold; color: red;">
  Funkcje logowania i zabezpieczenia w tej wersji Taco Cloud nie zostały jeszcze zaimplementowane. Przedstawione tutaj formularze jeszcze nie działają.
</p>

<group-box title="Zaloguj się">
  <form>
    <label for="username"><b>Nazwa użytkownika:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Hasło:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <big-button label="Sign in"></big-button>
  </form>
</group-box>

<group-box title="Zarejestruj się">
  <form>
    <label for="username"><b>Nazwa użytkownika:</b></label><br/>
    <input type="text" name="username" class="formField"/><br/>
    <label for="password"><b>Hasło:</b></label><br/>
    <input type="password" name="password" class="formField"/><br/><br/>
    <label for="password"><b>(potwierdź hasło)</b></label><br/>
    <input type="password" name="verifyPassword" class="formField"/><br/><br/>

    <label for="fullName"><b>Pełne imię i nazwisko:</b></label><br/>
    <input type="text" name="fullName" class="formField"/><br/><br/>

    <label for="street"><b>Ulica:</b></label><br/>
    <input type="text" name="street" class="formField"/><br/><br/>

    <label for="city"><b>Miejscowość i województwo:</b></label><br/>
    <input type="text" name="city" class="formField"/><input type="text" name="state" class="formField"/><br/><br/>

    <label for="zipCode"><b>Kod pocztowy:</b></label><br/>
    <input type="text" size="2" name="zipCode" class="formField"/><br/><br/>

    <label for="phoneNumber"><b>Numer telefonu:</b></label><br/>
    <input type="text" name="phoneNumber" class="formField"/><br/><br/>


    <big-button label="Rejestruj"></big-button>
  </form>
</group-box>
